* {
    box-sizing: border-box;
}
body{
    cursor:default;
    -webkit-tap-highlight-color: transparent;
    font-family: messina-sans;
    background-color: #fff;
    user-select: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.outerBody{
    padding-left: 150px;
    padding-right: 150px;
    position: absolute;
    width: 100%;
    height: fit-content;
    display: grid;
    
}

header{
    transform: translate3d(0px, 0px, 0px);
    height: 135px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
    position: relative;
    justify-content: space-evenly;
    width: -webkit-fill-available;
    list-style-type: none;
}
li{
       display: inline-block;
 }
li a{
    text-decoration: none;
    color: white;
    font-family: inherit;
    font-size: 19px;
    font-weight: lighter;
    padding:  0 20px;

    position: relative;
    line-height: 1.5;
    display: block;
}
.cool-link::after  {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width .3s
}

.cool-link:hover::after {
    width: 100%;
    transition: width .3s;
}
nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    pointer-events: all;
    position: relative;
    z-index: 2;    width: 60%;
    color: white;
}

  .bar1, .bar2 {
    width: 20px;
    height: 2px;
    background-color: white;
    margin: 7px 0;
    transition: 0.4s;
  }
   .bar3{
    width: 20px;
    height: 2px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
   }
   
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 3px);
    transform: rotate(-45deg) translate(-5px, 3px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-5px, -5px);
    transform: rotate(45deg) translate(-10px, -8px);
  }
  .main{
      position: relative;
      height: 100vh;
      width: 100%;
      overflow: auto;
  }
  .video-background{
    z-index: -1;
    min-width: 100%;
    min-height: 25%;
    width: auto;
    height: auto;
  }
  video{
    display: inline-block;
  }
  .para{
    padding: 150px 70px 150px 70px;
  }
  .para1, .para2, .para3{
    display: block;
    height: 50px;
    width: 100%;
    font-family: 'Playfair Display', serif;
    text-align: center;
    position: relative;
    opacity: 1;
    font-size: 36.8147px;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
  .unforgettableExperience{
    display: flex;
    flex-direction: column;
    color: white;
    padding-right: 15%;
    width: 750px;
    font-size: 70px;
    height: fit-content;
    padding-left: 15%;
  }
  .unforget{
    font-family: 'Cormorant Garamond', serif;
    font-size: 70px;
    transform: translate3d(0px, -10px, 0px);
  }
  .experience{
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 75px;
    transform: translate3d(0px, -40px, 0px);
      }
      .scroll{
        color: white;
        font-family: 'Quicksand', sans-serif;
      }