<!DOCTYPE html>
<html>
    <head>
        <title>DiscoveryLandCompany</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/css/Discovery.css">
        <link href="https://fonts.googleapis.com/css?family=sans" rel="">
  </head>

  <body>
    <div class="main">
      <div class="outerBody">
        <header>
          <div class="logo">
            <img src="/images/images.png">
          </div>
          <nav class="navbar navbar-inverse">
            <ul>
              <li><a href="#" class="cool-link"> What we do</a></li>
              <li><a href="#" class="cool-link">Our Worlds</a></li>
              <li><a href="#" class="cool-link">Experiences</a></li>
              <li><a href="#" class="cool-link">Company</a></li>
              <li><a href="#" class="cool-link">Contact</a></li>
            </ul>
            <div class="container" onclick="myFunction(this)">
              <div class="bar1"></div>
              <div class="bar2"></div>
              <div class="bar3"></div>
            </div>
          </nav>
      </header>
    </div>
     <section class="video-container">
            <video autoplay loop class="video-background" muted plays-inline>
              <source src="/images/Experiences-mobile.mp4" type="video/mp4">
            </video>
      </section>
 </div>
<!-- 
     <div class="para" >
        <p>
          <div class="para1">Memorable days. Exceptional nights. We believe it’s our mission to</div>  
          <div class="para2">make every minute matter. So you can live your life to the fullest,</div>
          <div class="para3">with the people closest to you.</div> 
        </p>
     </div>  -->











      <script src="/js/Discovery.js"></script>
    </body>
</html>