<!DOCTYPE html>
<html>
    <head>
        <title>DiscoveryLandCompany</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/css/Discovery.css">
        <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Junge&family=Montserrat+Alternates:wght@300&family=Noto+Serif&family=Questrial&display=swap" rel="stylesheet">   
        <link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Quicksand:wght@700&display=swap" rel="stylesheet">
      </head>

  <body>
    <div class="main">
      <div class="outerBody">
        <header>
          <div class="logo">
            <img src="/images/images.png">
          </div>
          <nav class="navbar navbar-inverse">
            <ul>
              <li><a href="#" class="cool-link"> What we do</a></li>
              <li><a href="#" class="cool-link">Our Worlds</a></li>
              <li><a href="#" class="cool-link">Experiences</a></li>
              <li><a href="#" class="cool-link">Company</a></li>
              <li><a href="#" class="cool-link">Contact</a></li>
            </ul>
            <div class="container" onclick="myFunction(this)">
              <div class="bar1"></div>
              <div class="bar2"></div>
              <div class="bar3"></div>
            </div>
          </nav>
      </header>
      <div class="unforgettableExperience">
        <div class="unforget">Unforgettable</div>
        <div class="experience">experiences</div>
      </div>
      <div class="scroll">
        <span>Scroll down</span>
      </div>
    </div>
     <section class="video-container">
            <video autoplay loop class="video-background" muted plays-inline>
              <source src="/images/Experiences-mobile.mp4" type="video/mp4">
            </video>
      </section>

     <div class="para" >
        <p>
          <div class="para1">Memorable days. Exceptional nights. We believe it’s our mission to</div>  
          <div class="para2">make every minute matter. So you can live your life to the fullest,</div>
          <div class="para3">with the people closest to you.</div> 
        </p>
     </div>
    <div class="exclusiveCard">
      <div class="exclusiveWrapper">
        <div class="exclusiveInfo">
          <h>Exclusive to <br> your world</h>
          <div class="paragraph">
             <p>   
              <div class="p">Our worlds are designed to offer you endless</div> 
              <div class="p">opportunities to share incredible once-in-a-lifetime</div> 
              <div class="p">experiences and adventures every single minute of the </div>
              <div class="p"> day. Each of our settings offers a relaxed sense of</div> 
              <div class="p">community through exceptional clubhouses,</div> 
              <div class="p"> world-class golf courses, welcoming staff and an</div> 
              <div class="p">extensive Outdoor Pursuits program. Create moments </div> 
              <div class="p">of joy and wonder, unforgettable memories and </div>
              <div class="p"> cherished times, together with those who matter most.</div>
            </p>  
          </div>
        </div>
        <figure class="waterImage">
          <img src="/images/water.jpg" alt="waterImage" >
        </figure>
      </div>
    </div>
     
    <div class="threeImagesDataOwter">
      <div class="threeImagesData">
        <div class="golf">
          <article>
            <div class="shadow"></div>
              <figure>
                <img src="/images/golf.jpg" alt="golfImage">
              </figure>
              
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Golf</h5>
                  <p class="card-text">
                    We commission the world’s most renowned course architects
                    to design spectacular golf experiences on challenging yet 
                    incredibly playable 18-hole courses. Our trademark 
                    comfort stations also set new standards in on-course 
                    amenities.
                  </p>
                  <button class="button">Explore</button>
               </div>
              </div>
          </article>
        </div>
     

        <div class="tracking">
          <article>
            <div class="shadow"></div>
              <figure>
                <img src="/images/tracking.jpg" alt="trackingImage">
              </figure>
              
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Outdoor Pursuits</h5>
                  <p class="card-text">
                      Our signature Outdoor Pursuits program is designed 
                      for families to create memories together. Whether
                      you’re trying a new sport or taking a day trip, our 
                      team will ensure you make the most of every minute 
                      with activities designed to help you take advantage 
                      of everything each region has to offer.
                   </p>
                  <button class="button">Explore</button>
               </div>
              </div>
         </article>
        </div>

        <div class="golf">
          <article>
            <div class="shadow"></div>
              <figure>
                <img src="/images/wellness.jpg" alt="swimingImage">
              </figure>
              
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Wellness</h5>
                  <p class="card-text">
                   Unwind at an indulgent spa. Set challenging targets with a
                   tailor-made fitness plan. Or let our talented chefs treat 
                   you to our flavorful international menus created using the
                   finest, carefully selected foods sourced locally from 
                   organic farms.
          
                  </p>
                  <button class="button">Explore</button>
               </div>
              </div>
          </article>
        </div>
      </div>
    </div>

    <!-- <div class="footerData">
      <section>
        <figure>
          <img src="/images/treeWater.jpg" alt="footerImage">
        </figure>
      </section>
      <footer></footer>
    </div> -->

 </div>

  











      <script src="/js/Discovery.js"></script>
    </body>
</html>